.scroll {
	background-color: var(--background-color);
	overflow-y: scroll;
	height: 100%;
}

.grid {
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 30em) {
	.scroll {
		padding: 1rem 2rem;
	}
}

@media only screen and (min-width: 60em) {
	.grid {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 2rem;
	}
}
