:root {
    --primary-color: #2b4591;
    --secondary-color: #6575c8;
    --tertiary-color: #cfa616;
    
    --primary-label: #ffffff;
    --secondary-label: #000000;
    --tertiary-label: #000000;

    --background-color: #fdfdfd;
    --secondary-background-color: #f5f5f5;
    --tertiary-background-color: #eeeeee;
}

@media (prefers-color-scheme: dark) {
    :root {
        
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: CatamaranVariable, Catamaran, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--tertiary-label);
    background-color: var(--primary-color);
}

#root {
    height: 100%;
}

h1, h2 {
    font-family: InterVariable, Inter;
}

h3, h3, h4 {
    font-family: InterVariable, Inter;
}

p {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}