.sideMenu {
	margin: 4rem 5rem;
	padding: 2rem 2rem;
	background-color: var(--background-color);
	border-radius: 2rem;
	width: 300px;
}

.courseDisplay {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.courseDisplay2 {
	display: flex;
	background-color: var(--primary-color);
}
