.links {
	text-decoration: none;
	color: var(--secondary-label);
	margin-left: 50px;
	margin-right: 50px;
}

@media only screen and (max-width: 41em) {
	.dis41 {
		display: none;
	}
}

.searchBar {
	font-size: 16px;
	margin-right: 50px;
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 2rem;
}

@media only screen and (max-width: 60em) {
	.searchBar {
		display: none;
	}
}

.dis34 {
	@media only screen and (max-width: 34em) {
		display: none;
	}
}

.sideMenu {
	margin: 4rem 5rem;
	padding: 2rem 2rem;
	background-color: var(--background-color);
	border-radius: 2rem;
	width: 300px;
}

.courseDisplay {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.courseDisplay2 {
	display: flex;
	background-color: var(--primary-color);
}
