.heroButton {
	color: var(--secondary-label);
	background-color: var(--background-color);
	border: none;
	font-size: 20px;
	font-weight: 500;
	padding: 1.2rem 2.5rem;
	border-radius: 2rem;
	align-items: center;
	align-self: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	width: 10em;
}

.heroButton:hover {
	color: white;
	background-color: var(--tertiary-color);
}

.heroImage {
	transform: translateY(-29px) scale(1.4);
	border-radius: 5rem;
	@media only screen and (max-width: 60em) {
		display: none;
	}
}

.pageAlign {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--primary-color);
}

.titleText {
	font-family: var(--font-inter);
	font-weight: 900;
	font-size: 3rem;
}

.content {
	flex-grow: 1;
}
